<div class="row">
  <div class="col-md-12">
    <h1>About Us</h1>
    <p>Baby Bear Care is an idea that has been developed by Heather Gingerich, a medical geologist exploring the adverse affects of chemical treatments on our drinking water system.  The program focuses specifically on raising awareness of the danger to infants of fluoride treatment. Water data has been collected for each of the communities in Ontario.</p>
  </div>
</div>