<nav>
  <ul class="nav nav-tabs nav-center">
    <li><%= link_to "Home", root_path %></li>
    <%- if logged_in? -%>
      <li><%= link_to "My Account", edit_user_path(current_user) %></li>
    <%- end -%>
    <li><%= link_to "Logout", logout_path if logged_in? %></li>
  </ul>
</nav>
