<%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<%= yield(:tail) %>

</body>
</html>