<h1>Listing mineral_tests</h1>

<table class="table">
  <thead>
    <tr>
      <th>Test date</th>
      <th>Mineral</th>
      <th>Level (mg/L)</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% if @mineral_tests.nil? %>
      <% @water_sources.each do |water_source| 
        @mineral_tests = water_source.mineral_tests %>
        <tr>
          <%# Arbitrary colspan %>
          <td colspan="10"><%= link_to water_source.name, water_source %></td>
        </tr> 
        <%= render "index" %>
      <% end %>
    <% else %>
      <%= render "index" %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mineral test', new_mineral_test_path %>
