<h1>Listing mineral_tests</h1>

<table class="table">
  <thead>
    <tr>
      <th>Water source</th>
      <th>Mineral</th>
      <th>Test date</th>
      <th>Measurement</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render "index" %>
  </tbody>
</table>

<br>

<%= link_to 'New Mineral test', new_mineral_test_path %>
