<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @treatment_chemical.name %>
</p>

<%= link_to 'Edit', edit_treatment_chemical_path(@treatment_chemical) %> |
<%= link_to 'Back', treatment_chemicals_path %>
