// Place all the styles related to the fluoride_scans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#toxicity { height:200px; width:200px; position:relative; }
#toxicity > div { position:absolute; top:0; bottom:0; left:0; right:0; margin: auto; height: 55%; }
