form.multi-step {
  .steps {
    min-height: 250px;
    position: relative;
    overflow: hidden;

    .step { 
      position:absolute;
      left: 100%;
      &.current { transition: 0.5s; left: 0; }
    }
  }
}