<h1>Listing fluoride_scans</h1>

<table class="table">
  <thead>
    <tr>
      <th>Location</th>
      <th>Water type</th>
      <th>Bar code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr><p>History should show up here</p></tr>
  </tbody>
</table>

<br>

<%= link_to 'New Fluoride scan', new_fluoride_scan_path %>
